# 百度人脸识别API
VITE_FACE_ACCESS_TOKEN=

# 百度手势识别API
VITE_GESTURE_ACCESS_TOKEN=

# 讯飞语音识别API
VITE_XUNFEI_APP_ID=
VITE_XUNFEI_API_KEY=
VITE_XUNFEI_API_SECRET=

# 其他
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=